<article class="thumb strava">
	<iframe src='https://www.strava.com/activities/{{.Get 0 }}' height='100%' width='100%' frameborder='0' allowtransparency='true' scrolling='no'></iframe>
	<h2>{{ .Get "phototitle" }}</h2>
	<p>{{ .Get "description" | markdownify }}</p>
</article>

<article class="thumb">
    <div>
        <p>This is a test to see how this looks this is a long line that keeps going.
            oh  wait its a paragraph
        </p>
    </div>
	<p>test<p>
	<h2>header</h2>
	<p>inner text</p>
</article>

<article class="thumb">
	<a class="gallery-item" phototitle=""
			description=""
			orig_name="2019-05-18 13.57.19.jpg"
			gallery_index="100"
			href="/revolve-24-brands-hatch/2019-09-11%2008.07.31_hu9d01792595fcc8d4fdfa9bb95a321110_5629196_960x0_resize_q90_box.jpg">
		<img src="/revolve-24-brands-hatch/2019-09-11%2008.07.31_hu9d01792595fcc8d4fdfa9bb95a321110_5629196_480x0_resize_q55_box.jpg">
	</a>
	<h2>asdf</h2>
</article>
	